body{
    background: #343d46;
  }
   
h1 {
    margin-top: 0px;
    font-size: 96px;
    color: #E50913;
}



/*-----------------------------Buscador-----------------------------*/
.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}
  
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
  
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
  
.container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
   /*Efectos HOVER*/
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px; 
}
 
.container-4:hover button.icon:hover{
    background: white;
}
 /*---------------------------------------------------------------------*/


/*-------------------------------IMAGENES-------------------------------*/
img {
    border: 2px solid black;
    border-radius: 20px;
    /*opacity: 0.5;*/
    transition: 0.25s ease-in-out;
    width: 200px; height: 260px;
}

img:hover {
    opacity: 2;
}

/*----------------------------------------------------------------------*/
/*--------------------------------TABLAS--------------------------------*/ 
td, th{
    text-align: left;
 }

 th {
     width: 80px;
 }


.tabla_1 td {
    width: 400px;
 }

.tabla_2, .data_2{
    width: 300px;
}

.tabla_2 th {
    width: 80px;
    height: 20px;
}

.tabla_2 td {
    width: 200px;
}

.tabla_3 tr{
    width: 130px;
}

.tabla_3 td{
    width: 15%;
}

.tabla_3{
    width: 10%;
}

.data_3{
    width: 22%;
}

.tabla_4 {
    width: fit-content;
}

.data_1, .data_2, .data_3, .data_4{
    margin: 7px;
}


/*--------------------------Scroll Personalizado--------------------------*/
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #E50913;
}
/*body::-webkit-scrollbar {
	width: 10px;
	background: #021b79;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255,255,255, .2);
	border-radius: 10px;
	border-right: 2px solid #021b79;
}*/
/*------------------------------------------------------------------------*/
/*-------------------------------PAGINACION-------------------------------*/
.pagination {
    /*display: inline-block;*/
    margin-left: 600px;
  }
  
/*.foot{
    padding-left: 90px;
}*/
.pagination .flechas {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.pagination .flechas.active {
    background-color: #E50913;
    color: white;
    border-radius: 5px;
}
  
.pagination .flechas:hover:not(.active) {
    background-color: #E50913;
    border-radius: 5px;
}